@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Define the styling for the normal state */
.button-container {
  display: inline-block;
  margin: 10px;
}

.button-container button {
  background-color: #25024f; /* Green background color */
  border: none;
  color: white; 
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; 
}

/* Define the styling for the hover state */
.button-container button:hover {
  background-color: #000000; 
  animation: scaleUp 0.3s ease; 
}
.button-container a:hover{
  text-decoration: none;
}

/* Define the scaling animation */
@keyframes scaleUp {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


/* --------------navbar--------------- */
nav {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25024f;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(215, 215, 215, 0.2);
}

.nav-links a {
  color: aliceblue;
}

ul {
  list-style: none;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav {
    margin-top: -20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    right: 0;
    background-color: #25024f;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
    overflow: hidden;
  }
  .nav-links a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin: 15px 0;
  }
  .nav-links.show {
    display: flex;
  }

  .burger {
    display: block;
    margin-right: 10px;
  }

  .logo a {
    margin-left: 10px;
  }

  .nav-links li {
    opacity: 1;
  }
}
.nav-links.show {
  transform: translateX(0%);
}
.nav-active {
  transform: translateX(0%);
}

.nav-links li {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* nav burger */
.burger .line1,
.burger .line2,
.burger .line3 {
  transform: rotate(0deg) translate(0, -1px);
}

/* nav animation */
.nav-links li a {
  color: #e1e1e1; /* default color */
  transition: color 0.3s ease; /* transition effect */
  font-weight: 400;
}

.nav-links li a:hover {
  color: #ee5300; /* hover color */
}





/* -----------into----------- */
.landing-page {
  animation: fadeIn 1s ease-in-out;
  position: relative;
  height: 70vh;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(60, 1, 82, 0.5), rgba(0,0,0,0.5)), url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\boy.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  
}
background-image.no-scroll {
  background-attachment: scroll;
}

.content {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
}

.landing-page h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
img {
  height: auto;
  width: 100%;
  max-width: 1000px;
  margin: 30px 0;
}

 p {
  font-size: 1rem;
  margin-top: 0;
  font-weight: 400;}



@media only screen and (max-width: 768px) {
  .landing-page {
    height: 40vh;
  }
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  img {
    width: 200px;
    max-width: 400px;
  }

}
.content button a{
  text-decoration: none;
}
button a{
  color: #c9c9c9;
  text-decoration: none;
}
Z

/* hr */

/* CSS for styling the Hrline component */
.hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10; /* Adjust the margin as needed */
  text-align: center;
}

.styled-hr {
  width: 50%; /* Adjust the width of the horizontal line */
  border: 1px solid #ccc; /* Adjust the color of the horizontal line */
}

  hr {
    margin: 1rem auto;
}

/* social */

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  font-size: 2rem;
  color: aliceblue;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
  color: #ee5300;
  animation: fadeIn 0.5s ease-in-out;
}


/* Hire ME */
.hire-me {
  background-image: linear-gradient(to bottom, rgba(60, 1, 82, 0.5), rgba(0,0,0,0.5)), url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\work.jpg');
  background-size: cover;
  background-position: top;
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 1.5em;
}

.hire-me h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hire-me p {
  font-size: 18px;
  margin-bottom: 10px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hire-me button {
  background-color: #25024f;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.hire-me button a{
  text-decoration: none;
}



/* ------youtube section-------- */
/* Styling for the .youtube section */
.youtube {
  background-image: linear-gradient(to bottom, rgba(60, 1, 82, 0.7), rgba(0, 0, 0, 0.7)), url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\gaming.jpg');
  background-attachment: fixed;
  background-position: center;
  padding: 80px 0;
  font-size: 1.5em;
  color: #ffffff; /* Your text color */
  text-align: center;
}

/* Styling for h2 within .youtube */
.youtube h2 {
  font-size: 36px;
  font-weight: bold;
}

/* Styling for .row-section */
.row-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  gap: 2px; /* Adjust the gap between columns */
}

/* Styling for .column */
.column {
  background-color: #31005e; /* Your specified background color */
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  max-width: 400px; /* Adjust the maximum width as needed */
}

/* Styling for h3 within .column */
.column h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Styling for p within .column */
.column p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styling for button within .column */
.column button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: block; /* Make the button a block-level element for full width */
  width: 100%;
  
  font-weight: bold;
  border-radius: 5px;
 
  transition: background-color 0.3s;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .row-section {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%; /* Allow columns to take full width on smaller screens */
  }
}














/* ---------portfolio---------- */
.Portfolio {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\bird.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 1.5em;
}

.Portfolio h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.Portfolio p {
  font-size: 18px;
  margin-bottom: 10px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.Portfolio button {
  background-color: #25024f;
  border: none;
  color: #c9c9c9;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.Portfolio button a {
  text-decoration: none;
  color: #c9c9c9;
}


/* footer */
footer {
  background-color: #25024f;
    color: #fff;
    font-size: 1rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: -20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
.footer-column {
  flex-basis: 30%;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer-column h4 {
  font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 0.5rem;
}
.footer-column ul li a {
  color: #c9c9c9;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer-column ul li a:hover {
  color: #ee5300;
}
.social-icons li {
  display: inline-block;
  margin-right: 1rem;
}
.social-icons a {
  color: #c9c9c9;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.social-icons a:hover {
  color: #ee5300;
}
.footer-bottom {
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 100%;
  }
  .container{
    padding-left: 10px;
  }
}









/* ------------------portfolio----------------- */



body {

      background-image: linear-gradient(to bottom, rgba(60, 1, 82, 0.5), rgba(0,0,0,0.5)), url('src/assets/boy.jpg');
      background-size: cover;
      background-position: left;
      z-index: -1;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.artwork {
  margin: 10px;
      width: 300px;
      height: 400px;
      position: relative;
      border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.artwork:hover {
  transform: translateY(-10px);
}
.artwork img {
  width: 100%;
      height: 100%;
      object-fit: cover;
}

.likes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 300px; /* add this */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
}
.like-btn {
  background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      transition: color 0.3s ease-in-out;
}

.like-btn:hover {
  background-color: #25024f;
  color: #c9c9c9;
}

.like-count {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .artwork {
    width: 48%;
  }
}
@media (max-width: 992px) {
  #gallery {
    flex-wrap: wrap;
  }

  .artwork {
    width: 48%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  
  .artwork {
    width: 100%;
  }
}




/* --------------faq------------------ */



/* FAQPage styles */

.faq-page {
  animation: fadeIn 1s ease-in-out;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
  color: wheat;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.divider {
  border: 1px solid #ddd;
}

/* FAQSection styles */

.faq-section {
  cursor: pointer;
  margin: 30px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.faq-section:hover {
  background-color: #f9f9f9;
}

.section-title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
}

.answers {
  color: #060606;
  margin-top: 10px;
}

.open {
  background-color: #f9f9f9;
}
.open p{
  color: #060606;
}





/* -------------contact us----------- */
/* ContactUsPage styles */

.contact-page {
  animation: fadeIn 1s ease-in-out;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
  color: wheat;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.divider {
  border: 1px solid #ddd;
}

/* ContactForm styles */

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #ffffff;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #25024f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #000000;
}

/* AboutUsPage styles */

.about {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 200px;
  border-radius: 50%;
}

.bio {
  flex: 1;
  margin-left: 20px;
}

.bio h2 {
  color: #ffffff;
}

p {
  color: #c3c3c3;
  margin-bottom: 10px;
}


/* CSS for styling the ProjectContainer component */
.project-container {
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  padding: 60px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(60, 1, 82, 0.9), rgba(0, 0, 0, 0.7)),
    url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\loki joker.png');
  color: #fff;
  background-size: cover;
  background-position: center;
}

.project-container h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.category-container {
  margin-bottom: 10px;
  position: relative;
}

.category-title {
  display: none;
}

.project-cards {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 15px;
  padding: 15px;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.project-cards::-webkit-scrollbar {
  width: 5px;
}

.project-cards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.project-cards::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Ensure the container takes up the full width on smaller screens */
@media screen and (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .project-cards {
    flex-wrap: nowrap;
  }
}

.project-card {
  flex: 0 0 300px;
  opacity: 1;
  transition: opacity 0.3s ease;
}


.nav-button {
  position: absolute;
  bottom: 10px; 
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 80px;
  color: #25024f;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.left-button {
  left: 10px;
  margin: 10px 50px;
}

.right-button {
  right: 10px;
  margin: 10px 50px;
}

body {
  scroll-behavior: smooth;
}





/* CSS for styling the ProjectCard component */
.project-card {
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(187, 0, 255, 0.335),rgba(60, 1, 82, 0.5)), url('E:\programming language\react+vite\Portfolio-1\portfolio\src\assets\work.jpg');
  color: #fff;

  width: 400px;

  /* Ensure the card takes up the full width on smaller screens */
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}


.project-content {
  position: relative;
  z-index: 1; /* Ensure the content is on top of the background card */
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  padding: 20px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  color: #ccc; /* Adjust text color as needed */
  margin-bottom: 10px;
}

.project-technologies {
  font-size: 14px;
  color: #ffffff; /* Adjust text color as needed */
  margin-bottom: 10px;
}

.project-link {
  background-color: #1A1A1A;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  padding: 5px;
}

.project-link:hover {
  background-color: #25024f;
  color: #ffffff;
  text-decoration: none;
}


.project-card:hover {
  transform: scale(1.05);
}












/* Add this keyframe for fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add this keyframe for fade out */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Apply fade-in animation to elements */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Apply fade-out animation to elements */
.fade-out {
  animation: fadeOut 1s ease-in-out;
}





